
<h5 class="align-items-center"><label for="brandCarText" class="form-label">Araçlar</label></h5>
<div class="form">
  <app-carsection></app-carsection>
</div>
  <input [(ngModel)]="brandCarText" type="text" class="form-control" id="brandCarText" placeholder="Arabalarda arama yapabilirsiniz">
  <span *ngIf="brandCarText.length>2">
    {{brandCarText}} aradınız
  </span>



<table *ngIf="dataLoaded == true" class="table table-bordered table-condensed table-hover">

  <thead class="thead-light">
    <tr>
      <th scope="col">Marka</th>
      <th scope="col">Renk</th>
      <th scope="col">Fiyat</th>
      <th scope="col">Tanımlama</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let car of cars | carFilterPipe:brandCarText" routerLink="/cardetail/{{car.carId}}">
      <td>{{ car.brandName }}</td>
      <td>{{ car.colorName }}</td>
      <td>{{ car.dailyPrice }} TL</td>
      <td>{{ car.description }}</td>

    </tr>

    <tr *ngIf="!cars.length">
      <td colspan="6">KAYITLI ARAÇ YOK</td>
    </tr>
  </tbody>

</table>
